.dog, .mountain, .stand {width: 95%; height: 95%;
margin: 4em;
}
/* IMAGE 1 */
.figure, .figure2, .figure3{
    position: relative;
}
.dog{
    filter:  invert(90%);

}
.heading{
    font-size: 40px;
    font-weight: bolder;
}
.dogPara{
    position: absolute;
    border-style: solid;
    border-color: whitesmoke;
    border-spacing: 2em;
    top: 70%;
    left: 15%;  
    color: whitesmoke;
    font-size: 25px;
    background-color: rgb(30, 28, 28);
    padding: 1em;
    opacity: 0.8;
}   
/* IMAGE 2 */
.mountain{
    filter: blur(2px);
}
.mountainPara{
    position: absolute;
    top: 35%;
    left: 20%;
    color: black;
    font-size: 20px;
    background-color: rgb(221, 221, 221);
    opacity: 0.8;
    padding: 2px;
    box-shadow: 5px 5px 5px 1px rgb(255, 255, 255);
}
.mountHeading{
    color: rgb(230, 26, 26);
    font-size: 30px;
    font-weight: bolder;
}
.body{
    display: flex;
}
.hyperlinkDesign{
    background-color: rgb(197, 49, 33);
    padding: 5px;
    text-align: center;
    border-radius: 1em;
}
.hyperlink{
    color: whitesmoke;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 10px 1em;
    width: 50%;
}
/* IMAGE 3 */
.figure3{
    display: block;
}
.stand{
    background-image: linear-gradient(to bottom, rgba(7, 63, 103, 0) 50%,rgba(255,0,0,0.65) 100%);
}
.heading3, .paragraph1, .paragraph2, .paragraph3{
    position: absolute;
    color: rgb(255, 255, 255);
}
.paragraph1{
    top: 10%;
    width: 80%;
    left: 20%;
    font-size: 25px;
}
.paragraph2{
    top: 30%;
    right: 5px;
    font-size: 20px;
    width: 60%;
}
.paragraph3{
    bottom: 10px;
    left: 15%;
    width: 90%;
    font-size: 20px;
}
.heading3{
    top: 50%;
    left: 50%;
    color: whitesmoke;
    font-size: 50px;
}